@tailwind base;
@tailwind components;
@tailwind utilities;

.pixel-perfect {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

body {
    background-image: url("/background_pattern.svg");
    @apply bg-bgColor;
    @apply font-Roboto;
}

h1,h2 {
    @apply font-Tektur;
    @apply font-bold;
}


.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(theme(colors.bgColor), theme(colors.bgColor));
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.25s ease-in-out;
}
  
.link-underline-black {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(theme(colors.black), theme(colors.black));
}
  
.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
}
